@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; }
body { @apply bg-canvas text-ink font-sans antialiased; }

.scroll-thin::-webkit-scrollbar { width: 8px; height: 8px; }
.scroll-thin::-webkit-scrollbar-thumb { background: #d7dae0; border-radius: 999px; }
.scroll-thin::-webkit-scrollbar-track { background: transparent; }

.card { @apply bg-white border border-line rounded-xl2 shadow-card; }
